<section>
    <p>This is what we do</p>
    <h2>Business Cases</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul>
        <li>
            <picture>
                <img src="#" alt="people work at the table">
            </picture>
            <picture>
                <img src="#" alt="statistical graphs on the table">
            </picture>
            <picture>
                <img src="#" alt="two people shaking hands">
            </picture>
            <picture>
                <img src="#" alt="six people put their hands over the table">
            </picture>
            <picture>
                <img src="#" alt="laptop, pen and notepad on the table">
            </picture>
            <picture>
                <img src="#" alt="three skyscrapers">
            </picture>
        </li>
    </ul>
</section>