<section>
    <p>Who we are</p>
    <h2>Our Professional Team</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul>
        <li>
            <picture>
                <img src="#" alt="standing man in a business suit">
            </picture>
            <h3>John Doe</h3>
            <p>President</p>
        </li>
        <li>
            <picture>
                <img src="#" alt="young business woman sitting in a chair">
            </picture>
            <h3>Jane Doe</h3>
            <p>Vice President</p>
        </li>
        <li>
            <picture>
                <img src="#" alt="young business man sitting at his desk with coffee">
            </picture>
            <h3>Steve Smith</h3>
            <p>Marketing Head</p>
        </li>
    </ul>
</section>